.products {
    margin-left: 160px;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 1200px;
}

.product__card {
    width: 230px;
    height: 200px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 10px 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product__card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.product__card h3 {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 7px;
}

.product__card p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-top: 14px;
}

.product__card span {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-left: 140px;
    margin-top: -20px;
}

.product__card:hover {
    transform: translateY(-10px);
    cursor: pointer;
}