* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  width: 100%;
  background-color: #F6F5F5;
  font-family: sans-serif;
  object-fit: cover;
}
